@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #0a0a0a;
  --foreground: #ffffff;
  --card: #1a1a1a;
  --card-foreground: #ffffff;
  --popover: #1a1a1a;
  --popover-foreground: #ffffff;
  --primary: #a855f7;
  --primary-foreground: #ffffff;
}